Repository malfet/deleteme, changes with the labels that .github/labeler.yml gives for each.
All labels: testing label, other testing label, another testing label

.github/labeler.yml:

"testing label":
- file3.txt

"other testing label":
- file2.txt

"another testing label":
- .github/**

update
  .github/workflows/hello.yml
  file2.txt
Labels: other testing label, another testing label

Ha ha ha [skip ci]
  stack.txt
Labels: none

update
  .github/label_to_label.yml
  .github/pytorch-probot.yml
Labels: another testing label

update (#84)
  .github/label_to_label.yml
  .github/pytorch-probot.yml
Labels: another testing label

See what is the output on MacOS 14 VM
  .github/workflows/compile.yml
Labels: another testing label

Update compile.yml
  .github/workflows/compile.yml
Labels: another testing label

cats change, update try merge
  .github/scripts/github_utils.py
  .github/scripts/trymerge.py
Labels: another testing label

tc
  file3.txt
Labels: testing label

enable mergebot on repository
  .github/pytorch-probot.yml
Labels: another testing label

update label_utils
  .github/scripts/label_utils.py
Labels: another testing label

Test (#87)
  file3.txt
Labels: testing label

fix trymerge, add gitignroe
  .github/scripts/trymerge.py
  .gitignore
Labels: another testing label

tc
  file3.txt
Labels: testing label

fix merge yml typo
  .github/workflows/merge.yml
Labels: another testing label

Test (#88)
  file3.txt
Labels: testing label

Update
  file3.txt
Labels: testing label

Update
  file3.txt
Labels: testing label

Update (base update)
  file3.txt
Labels: testing label

tc (#89)
  file3.txt
Labels: testing label

tc (#90)
  file3.txt
Labels: testing label

Update
  file3.txt
Labels: testing label

Update (base update)
  file3.txt
Labels: testing label

Update
  file3.txt
Labels: testing label

mangle commit message
  .github/scripts/trymerge.py
Labels: another testing label

tc (#92)
  file3.txt
Labels: testing label

tc (#91)
  file3.txt
Labels: testing label

unmangle commit message
  .github/scripts/trymerge.py
Labels: another testing label

blah
  file3.txt
Labels: testing label

blah
  .github/workflows/run_inductor_tests.yml
Labels: another testing label

blah
  .github/workflows/run_inductor_tests.yml
Labels: another testing label

blah
  .github/workflows/run_inductor_tests.yml
Labels: another testing label

blah
  .github/workflows/run_inductor_tests.yml
Labels: another testing label

blah
  .github/workflows/run_inductor_tests.yml
Labels: another testing label

blah
  .github/workflows/run_inductor_tests.yml
Labels: another testing label

blah
  .github/workflows/run_inductor_tests.yml
Labels: another testing label

Improve query metal
  .github/workflows/compile.yml
  query_metal.mm
Labels: another testing label

And install torch
  .github/workflows/compile.yml
Labels: another testing label

And use macos-15
  .github/workflows/compile.yml
Labels: another testing label

Let's use nightly for 3.13
  .github/workflows/compile.yml
Labels: another testing label

Add install_torch workflow
  .github/workflows/compile.yml
  .github/workflows/install_torch.yml
Labels: another testing label
