Repository malfet/deleteme, changes with the labels that .github/labeler.yml gives for each.
All labels: testing label, other testing label, another testing label

Let's add `bash -l` to repro https://github.com/pytorch/pytorch/issues/139288
  .github/workflows/install_torch.yml
Labels: another testing label

Trying to make workflow a bit prettier
  .github/workflows/install_torch.yml
Labels: another testing label

Update install_torch.yml
  .github/workflows/install_torch.yml
Labels: another testing label

Update install_torch.yml
  .github/workflows/install_torch.yml
Labels: another testing label

Update install_torch.yml
  .github/workflows/install_torch.yml
Labels: another testing label

Update install_torch.yml
  .github/workflows/install_torch.yml
Labels: another testing label

Update install_torch.yml
  .github/workflows/install_torch.yml
Labels: another testing label

Update install_torch.yml
  .github/workflows/install_torch.yml
Labels: another testing label

Update install_torch.yml
  .github/workflows/install_torch.yml
Labels: another testing label

Fix version
  .github/workflows/install_torch.yml
Labels: another testing label

Trying to make workflow a bit prettier (#94)
  .github/workflows/install_torch.yml
Labels: another testing label

Use different runners
  .github/workflows/install_torch.yml
Labels: another testing label

Update install_torch.yml
  .github/workflows/install_torch.yml
Labels: another testing label

Update hello.yml
  .github/workflows/hello.yml
Labels: another testing label

Update hello.yml
  .github/workflows/hello.yml
Labels: another testing label

Update hello.yml
  .github/workflows/hello.yml
Labels: another testing label

Update file2.txt
  file2.txt
Labels: other testing label

Update merge.yml
  .github/workflows/merge.yml
Labels: another testing label

Update revert.yml
  .github/workflows/revert.yml
Labels: another testing label

Update file2.txt (#96)
  file2.txt
Labels: other testing label

Update file2.txt
  file2.txt
Labels: other testing label

Update file2.txt (#97)
  file2.txt
Labels: other testing label

Add workflow using setup-python action
  .github/actions/setup-python/README.md
  .github/actions/setup-python/action.yml
  .github/actions/setup-python/cleanup.js
  .github/actions/setup-python/index.js
  .github/workflows/setup-python-example.yml
  tests/test_setup_python.py
Labels: another testing label

Let's actually test it
  .github/workflows/setup-python-example.yml
Labels: another testing label

Fix setup logic
  .github/actions/setup-python/index.js
Labels: another testing label

Remove unnecessary code wrappers
  .github/actions/setup-python/index.js
Labels: another testing label

This is a very important update
  labels-test.txt
Labels: none

This is a very important update
  labels-test.txt
Labels: none

Updating mergebot code
  .github/scripts/github_utils.py
  .github/scripts/gitutils.py
  .github/scripts/trymerge.py
Labels: another testing label

Update README.md
  README.md
Labels: none

Update Python versions
  .github/workflows/merge.yml
  .github/workflows/revert.yml
Labels: another testing label

How many times I'll be stepping on this one
  .github/workflows/merge.yml
  .github/workflows/revert.yml
Labels: another testing label

Update README.md (#99)
  README.md
Labels: none

Update setuppython action version
  .github/workflows/revert.yml
Labels: another testing label

Revert "Update README.md (#99)"
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Fixme
  .github/workflows/check-labels.yml
Labels: another testing label

Add permissions clause to checklabels
  .github/workflows/check-labels.yml
Labels: another testing label

Fix hello.yml
  .github/workflows/hello.yml
Labels: another testing label

Try to repro https://github.com/pytorch/pytorch/issues/159825
  .github/workflows/hello.yml
Labels: another testing label

.github/labeler.yml:

"testing label":
- file3.txt

"other testing label":
- file2.txt

"another testing label":
- .github/**
